/*
header layout specifications
*/
.header {
    background-color: #5e6674;
    height: 520px;
    padding-top: 120px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

/*
h2 is reset to different color and position from the default h2
*/
.header h2 {
  color: #ffffff;
  margin-top: -15px;
}
